<div class="container">
  <div>
    <%= form_tag chef_profiles_path, method: :get do %>
      <%= text_field_tag :date,
        params[:date],
        class: "form-control",
        id: "range_start",
        placeholder: "Pick dates"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="cards">
    <% @profiles.each do |profile| %>
      <%= link_to chef_profile_path(profile), class:"card-chef" do %>
        <div class="card-chef">
          <%# <img src="https://static.stacker.com/s3fs-public/styles/sar_screen_maximum_large/s3/croppedshutterstock1659067060GE9Zjpg_28.JPEG" /> %>
          <% if profile.meal_picture_url %>
            <%= image_tag profile.meal_picture_url%>
          <% else %>
            <%= cl_image_tag profile.photo.key, crop: :fill %>
          <% end %>
          <div class="card-chef-infos">
            <div>
              <h2><%= profile.title %></h2>
            </div>
            <div class="card-chef-pricing">
              <p>$<strong><%= profile.price %></strong> per day</p>
            </div>
            <% user = User.find(profile.user_id)%>
            <% if user.avatar.attached? %>
             <%= cl_image_tag user.avatar.key, crop: :fill, class: "card-trip-user avatar-bordered" %>
            <% elsif user.avatar_url %>
             <%= image_tag user.avatar_url, crop: :fill, class: "card-trip-user avatar-bordered" %>
            <% else %>
              <%= image_tag "chefcolor.png",  class: "card-trip-user avatar-bordered" %>
            <% end %>
          </div>
          <%# <img src="https://avatars.githubusercontent.com/u/101748011?v=4" class="card-trip-user avatar-bordered" /> %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @profiles.empty? %>
    <h1 id="no-chef"><%= "No chef for you :(" %></h1>
  <% end %>


</div>
