<div class="create">

<h1>New Chef Profile</h1>
  <h2>Create your own chef profile!</h2>
  <%= simple_form_for(@profile) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>
