<div class="create">

<h1>New Chef Profile</h1>
  <h2>Create your own chef profile!</h2>
  <%= simple_form_for(@profile) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category %>
  <%= f.input :price, input_html: { min: '0', step: 'any' }, :hint => 'ex. 100, 70.50', :label => 'Price (in euros)' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>
