<div class="container-show">
  <div class="profile-page">
    <h1><%= @profile.title %></h1>
    <div class="category">
      <p><%= @profile.category %></p>
      <% user =  User.find(@profile.user_id)%>
       <% if  user.avatar_url %>
        <%= image_tag user.avatar_url, crop: :fill, id:"avatar" %>
       <% elsif  user.avatar.attached? %>
        <%= cl_image_tag user.avatar.key, crop: :fill, id: "avatar" %>
       <% else %>
        <%= image_tag "chefcolor.png", id: "avatar" %>
       <% end %>
    </div>
    <div class="flex">
      <% if @profile.meal_picture_url %>
        <%= image_tag @profile.meal_picture_url, style:"margin-top:0px"%>
      <% else %>
        <%= cl_image_tag @profile.photo.key, crop: :fill, style:"margin-top:0px" %>
      <% end %>
       <div class="text-box-price">
          <strong><%= @profile.price %></strong><br> €/day
        </div>
    </div>
    <div class="bottom-screen">
      <div class="text-box">
        <ul>
          <li id="chef-title">Chef's description </li>
            <li id="description"><%= @profile.description %></li>
        </ul>
      </div>
      <% unless @profile.user == current_user %>
      <div class="col-6">
        <div class="form-box">
          <div class="small-form">
          <h2>Make a new booking</h2>
            <%= simple_form_for [@profile, @booking] do |f| %>
            <!-- <%= f.input :date %> -->
            <%= f.input :date, collection: (Date.today+1)..(Date.today+90) %>
            <%= f.input :duration, :collection => 1..30, :hint => 'ex. 2 days' %>
            <%= f.button :submit, class: "submitbtn" %>
            <% end %>
          </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
