<div class="container">
  <div class="profile-page">
    <h1><%= @profile.title %></h1>
    <div class="category">
      <p><%= @profile.category %></p>
    </div>
    <div class="flex">
      <% if @profile.meal_picture_url %>
        <%= image_tag @profile.meal_picture_url, style:"margin-top:0px"%>
      <% else %>
        <%= cl_image_tag @profile.photo.key, crop: :fill, style:"margin-top:0px" %>
      <% end %>
      <% unless @profile.user == current_user %>
      <div class="col-4">
        <div class="form-box">
          <div class="small-form">
          <h2>Make a new booking</h2>
            <%= simple_form_for [@profile, @booking] do |f| %>
            <!-- <%= f.input :date %> -->
            <%= f.input :date, collection: (Date.today+1)..(Date.today+90) %>
            <%= f.input :duration, :collection => 1..30, :hint => 'ex. 2 days' %>
            <%= f.button :submit, class: "submitbtn" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="text-box">
      <ul>
        <li><%= @profile.description %></li>
      </ul>
    </div>
    <div class="text-box-price">
        <%= @profile.price %> €/day
    </div>
  </div>
</div>
