<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="profile-page">
        <h1>Chef <%= @profile.title %></h1>
        <div class="category">
          <p><%= @profile.category %> Cuisine</p>
        </div>

        <% if @profile.meal_picture_url %>
          <%= image_tag @profile.meal_picture_url%>
        <% else %>
          <%= cl_image_tag @profile.photo.key, crop: :fill %>
        <% end %>

        <div class="text-box">
          <ul>
            <li><b>Description: </b><%= @profile.description %></li>
            <li><b>Price per day: </b><%= @profile.price %> euros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% unless @profile.user == current_user %>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="form-box">
          <div class="small-form">
          <h2>Make a new booking</h2>
            <%= simple_form_for [@profile, @booking] do |f| %>
            <!--<%= f.input :date, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year + 5,
                              order: [:day, :month, :year] %> -->
            <!-- <%= f.date_field :date %> -->
            <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, :label => 'Start date' %>
            <%= f.input :duration, as: :string, required: false, input_html: {class: "datepicker"}, :label => 'End date' %>
            <!--<%= f.input :duration, :collection => 1..30, :hint => 'ex. 2 days' %> -->
            <%= f.button :submit, class: "submitbtn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
