<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="profile-page">
        <h1>Chef <%= @profile.title %></h1>
        <div class="category">
          <p><%= @profile.category %> Cuisine</p>
        </div>
        <!--<%= image_tag @profile.meal_picture_url%>-->
        <div class="text-box">
          <ul>
            <li><b>Description: </b><%= @profile.description %></li>
            <li><b>Price per day: </b><%= @profile.price %> euros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="form-box">
        <div class="small-form">
        <h2>Make a new booking</h2>
          <%= simple_form_for [@profile, @booking] do |f| %>
          <!-- <%= f.input :date %> -->
          <%= f.input :date, collection: (Date.today+1)..(Date.today+90) %>
          <%= f.input :duration%>
          <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
