<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="bookings-title">
        <h1>All your bookings</h1>
      </div>
      <% @bookings.each do |booking| %>
        <div class="booking-notification">
          <% if booking.chef_profile.meal_picture_url %>
            <%= image_tag booking.chef_profile.meal_picture_url%>
          <% else %>
            <%= cl_image_tag booking.chef_profile.photo.key, crop: :fill %>
          <% end %>
          <div class="booking-notification-infos">
            <div class="booking-notification-left">
              <h2> <%= booking.chef_profile.title %> </h2>
              <p><%= booking.chef_profile.description %></p>
            </div>
            <div>
              <p>Status: <strong><%= booking.status.upcase %></strong></p>
              <p>Start date: <strong><%= booking.date %></strong></p>
              <p>End date: <strong><%= booking.duration %></strong></p>
              <p>Total price: <strong><%= '%.2f' % booking.total_price %></strong></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





<!--THIS IS SEARCH BY DATE -->




<!--END-->
