<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="bookings-title">
        <h1>People booking my chefvices</h1>
      </div>
      <% @my_bookings.each do |booking| %>
        <% if booking.status == "pending" %>
          <div class="booking-notification">
            <% if booking.chef_profile.meal_picture_url %>
              <%= image_tag booking.chef_profile.meal_picture_url%>
            <% else %>
              <%= cl_image_tag booking.chef_profile.photo.key, crop: :fill %>
            <% end %>
            <div class="booking-notification-infos">
                <div class="booking-notification-left">
                <h2> <%= booking.chef_profile.title %> </h2>
                <p><%= booking.chef_profile.description %></p>
                <p>Booked by: <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong></p>
                </div>
              <div>
                <p>Status: <strong><%= booking.status.upcase %></strong></p>
                <%= link_to "accept",  booking_accept_path(booking), method: :patch %>
                <%= link_to "reject",  booking_reject_path(booking), method: :patch %>
               <p>Booked for: <strong><%= booking.date %></strong></p>
               <p>Days requested: <strong><%= booking.duration %></strong></p>
             </div>
           </div>
         </div>
        <% end %>
      <% end %>
    <% @my_bookings.each do |booking| %>
        <% if booking.status != "pending" %>
          <div class="booking-notification">
             <% if booking.chef_profile.meal_picture_url %>
              <%= image_tag booking.chef_profile.meal_picture_url%>
            <% else %>
              <%= cl_image_tag booking.chef_profile.photo.key, crop: :fill %>
            <% end %>
            <div class="booking-notification-infos">
                <div class="booking-notification-left">
                <h2> <%= booking.chef_profile.title %> </h2>
                <p><%= booking.chef_profile.description %></p>
                <p>Booked by: <strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong></p>
                </div>
              <div>
                <p>Status: <strong><%= booking.status.upcase %></strong></p>
               <p>Booked for: <strong><%= booking.date %></strong></p>
               <p>Days requested: <strong><%= booking.duration %></strong></p>
             </div>
           </div>
         </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
