<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag "chefcolor.png", alt: "Le Wagon", width: 200 %> ChefMeUp
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">

<%= form_tag chef_profiles_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a chef"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</form>







<div>
  <%= form_tag chef_profiles_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      id: "range_start",
      placeholder: "Pick dates"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </form>
</div>







    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" />
        <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My bookings",  bookings_path, class: "dropdown-item"%>
            <% if current_user.chef_profiles.exists? %>
              <%= link_to "Manage Chef Profile", chef_profiles_path, class: "dropdown-item"%>
              <%= link_to "My chef service requests",  my_bookings_path, class: "dropdown-item"%>
            <% else %>
              <%= link_to "Chef you up",  new_chef_profile_path, class: "dropdown-item"%>
            <% end %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>

          </div>
      <% else %>
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users/sign_in">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Sign-Up</a>
            </li>
        <ul>
            <!--li class="nav-item"-->
            <!--/li-->
      <% end %>
    </div>
  </div>
</div>
